<div class="header-7" style="background: url('assets/images/blog/hero.jpg') no-repeat;">
    <div class="overlay">
    </div>
    <!-- navbar -->
    <app-navbar-1 navClass="bg-white navbar-light zindex-10" [fixedWidth]="true" [sticky]="true"
        ctaButtonClass="btn-outline-primary btn-sm"></app-navbar-1>
    <!-- hero -->
</div>

<section class="section pt-lg-8 pb-lg-4 pt-4 pb-3 position-relative" id="contact-me-form"> 
    <div class="container testimonials-3">
        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <h1 class="display-4 fw-medium">UI design to Development.</h1>
            <p>
                On this page, we will explore the journey of creating components, beginning with initial sketches and progressing through UI/UX design using Figma,
                 to developing and deploying the components live for testing.           
            </p>

        </div>


    </div>

</section>

